XML_Projekat/data/xsd/am1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="Amandman">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Kontekst"/>
                <xs:element ref="Operacija"/>
                <xs:element minOccurs="0" ref="Sadrzaj"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Kontekst" type="xs:string"/>
    <xs:element name="Operacija" type="xs:string"/>
    <xs:element name="Sadrzaj" type="xs:string"/>
</xs:schema>
